---
---
body {
    background: #f1f1f1;
}

a:visited {
  color: #2a7ae2;
}

.post-link:visited {
    color: #006666;
}

.navbar {
  border-radius: 0;
}

.navbar-wrapper {
    margin-top: 20px;
}

.navbar-inverse {
    background-color: #006666;
    border-color: #006666;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

ul, ol {
    margin-left: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #006666;
}

.nav-pills>li>a {
    border-radius: 0;
}

.post-link {
    color: #006666;
}

.post-title {
    color: #006666;
}

blockquote {
    font-style: normal;
}

.contact-icon {
    width: 20px;
    height: 20px;
}

.article {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    border:1px solid #dcdcdc;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: white;
    border-color: #dcdcdc;
}

ul, ol {
    margin-left: 30px;
}
